numpy
tqdm
scipy
wheel
git+https://github.com/neelnanda-io/TransformerLens.git
git+https://github.com/neelnanda-io/neel-plotly
circuitsvis
matplotlib
plotly
einops
transformers
torch
circuitsvis
fancy-einsum
jaxtyping
tqdm
networkx
ipywidgets==7.7.2
ipykernel
openai